* {
  margin: 0;
  font-family: "Oxygen", sans-serif;
}

body {
  background-color: #F0EBD8;
  font-size: 1.4rem;
}

header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #0D1321;
  color: #F0EBD8;
}
header #title {
  margin-top: 1rem;
}
header #subTitle {
  margin: 1rem 1rem 1.75rem 1rem;
}

.Btn {
  border: 1px solid black;
  border-radius: 1.5rem;
  cursor: pointer;
  padding: 1rem;
  margin: 1.5rem;
  background-color: #73a8c9;
  text-align: center;
  min-width: 15rem;
}

.Btn:hover {
  background-color: #457B9D;
}

#showRanks {
  font-size: 1.2rem;
  background-color: #73a8c9;
  border-radius: 0.5rem;
}

#showRanks:hover {
  background-color: #457B9D;
}

main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 0rem 2rem 2rem 2rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
main #recentContainer {
  margin: 1rem 0 0.4rem 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
main #recentContainer #recentTitle {
  color: #0D1321;
  padding-right: 11rem;
}
main #formContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: 1px solid #0D1321;
  border-radius: 1rem;
  padding: 1rem;
  margin-top: 2rem;
  background-color: rgba(29, 53, 87, 0.8823529412);
  color: #0D1321;
}
main #formContainer .label {
  margin: 0.25rem 0 0.5rem 1.75rem;
  -ms-flex-item-align: start;
      align-self: flex-start;
  color: #F0EBD8;
}
main #formContainer #FORMtitle {
  margin-bottom: 1rem;
  color: #F0EBD8;
}
main #formContainer .top5 {
  margin: 0.5rem;
  border-radius: 0.25rem;
  border: 0.1px solid #0D1321;
  padding: 0.25rem;
  width: 75%;
  margin-top: 0;
  background-color: #F0EBD8;
  font-size: 1rem;
}
main #formContainer #topic {
  border-radius: 0.25rem;
  width: 75%;
  margin: 0.5rem;
}
main #formContainer #FORMbtnContainer {
  margin: 0.5rem 1rem 0 0;
}
main #formContainer #FORMbtnContainer #clear {
  margin-left: 2rem;
  padding: 0.25rem 0.65rem 0.25rem 0.65rem;
}
main #formContainer #FORMbtnContainer .formBTN {
  font-size: 1rem;
  padding: 0.25rem;
  background-color: #73a8c9;
  border: 1px solid #0D1321;
  border-radius: 0.5rem;
  cursor: pointer;
}
main #formContainer #FORMbtnContainer .formBTN:hover {
  background-color: #457B9D;
}

#ranks {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-align: left;
  font-size: 1.5rem;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  border-radius: 0.5rem;
  background-color: rgba(29, 53, 87, 0.9098039216);
  color: #F0EBD8;
}
#ranks .newRank {
  margin: 1rem;
  border: 1px solid #F0EBD8;
  border-radius: 0.5rem;
  padding: 1rem;
  background-color: #73a8c9;
}

.dNone {
  display: none;
}

@media screen and (max-width: 500px) {
  #recentTitle {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
  }
}