* {
  margin: 0;
  font-family: "Oxygen", sans-serif;
}

body {
  background-color: #F0EBD8;
  font-size: 1.4rem;
}

header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #0D1321;
  color: #F0EBD8;
}
header #title {
  margin-top: 1rem;
}
header #subTitle {
  margin: 1rem 1rem 1.75rem 1rem;
}

.Btn {
  border: 1px solid black;
  border-radius: 1.5rem;
  cursor: pointer;
  padding: 1rem;
  margin: 1.5rem 1rem;
  background-color: rgba(47, 221, 88, 0.9176470588);
  text-align: center;
  min-width: 15rem;
}

.Btn:hover {
  background-color: rgb(78, 209, 66);
}

#showRanks {
  font-size: 1.2rem;
  background-color: rgba(47, 221, 88, 0.9176470588);
  border-radius: 0.5rem;
}

#showRanks:hover {
  background-color: rgb(78, 209, 66);
}

main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 0rem 2rem 2rem 2rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
main #recentContainer {
  margin: 1rem 0 0.4rem 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
main #recentContainer #recentTitle {
  color: #0D1321;
  padding-right: 10rem;
}
main #formContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  border: 1px solid black;
  border-radius: 2rem;
  padding: 1.5rem;
  margin-bottom: 2rem;
  background-color: #748CAB;
  color: #0D1321;
}
main #formContainer #FORMtitle {
  margin-bottom: 1rem;
}
main #formContainer .top5 {
  margin: 0.5rem;
  border-radius: 0.25rem;
  width: 75%;
}
main #formContainer #topic {
  border-radius: 0.25rem;
  width: 75%;
  margin: 0.5rem;
}
main #formContainer #FORMbtnContainer {
  margin: 1rem 5rem 0.75rem 0.5rem;
}
main #formContainer .num1 {
  color: #fcf300;
}

#entries {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-align: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  border-radius: 0.5rem;
  padding: 1rem;
}

.dNone {
  display: none;
}