// COLORS

// background color
$bg: #F0EBD8;

// header background
$hbg: #0D1321;

// button color
$bbg: #73a8c9;

// button hover
$hover: #457B9D;

// FORM background
$fbg: #1d3557e1;

// num1 color
$num1: #fcf300;

// rank container background
$rcbg: #1d3557e8;

// rank text color
$rankText: #ececec;

