
@import "_var.scss";

* {
	margin: 0;
	font-family: 'Oxygen', sans-serif;
}
body {
	background-color: $bg;
	font-size: 1.4rem;
}

header {
	display: flex;
	align-items: center;
	justify-content: space-between;
	background-color: $hbg;
	color: $bg;
	#title {
		margin: 1rem;
	}
	#subTitle {
		margin: 1rem 1rem 1.75rem 1rem;
	}
	.rankIcon {
		max-width: 5rem;
		margin: 1rem;
	}
	#titleContainerHeader {
		text-align: center;
	}
	#flippedIcon {
		transform: scaleX(-1);
	}
}

#line {
	min-height: 5px;
	background-color: $fbg;
}

.Btn {
	border: 1px solid $hbg;
	border-radius: 0.5rem;
	cursor: pointer;
	padding: 1rem;
	margin: 1.5rem;
	background-color: $bbg;
	text-align: center;
	min-width: 15rem;
}
.Btn:hover {
	background-color: $hover;
	border-radius: 0.75rem;
	box-shadow: 0 0 3px $hbg;
}
#showRanks {
	font-size: 1.2rem;
	background-color: $bbg;
}
#showRanks:hover {
	background-color: $hover;
}


main {
	display: flex;
	flex-direction: column;
	margin: 0rem 2rem 2rem 2rem;
	align-items: center;
	#formContainer {
		display: flex;
		flex-direction: column;
		align-items: center;
		border: 1px solid $hbg;
		border-radius: 1rem;
		padding: 1rem;
		margin-top: 2rem;
		background-color: $bbg;
		color: $hbg;
		.label {
			margin: 0.25rem 0 0.5rem 1.75rem;
			align-self: flex-start;
			color: $hbg;
		}
		#FORMtitle {
			margin-bottom: 1rem;
			color: $hbg;
		}
		.top5 {
			margin: 0.5rem;
			border-radius: 0.25rem;
			border: 0.1px solid $hbg;
			padding: 0.25rem;
			width: 75%;
			margin-top: 0;
			background-color: $bg;;
			font-size: 1rem;
			box-shadow: 1px 0.25rem 1px $hbg;
		}
		#topic {
			border-radius: 0.25rem;
			width: 75%;
			margin: 0.5rem;
		}
		#FORMbtnContainer {
			margin: 0.5rem 1rem 0 0;
			#clear {
				margin-left: 2rem;
				padding: 0.25rem 0.65rem 0.25rem 0.65rem;
			}
			.formBTN {
				font-size: 1rem;
				padding: 0.25rem;
				background-color: $rcbg;
				border: 1px solid $hbg;
				box-shadow: 0 0 1px $hbg;
				border-radius: 0.5rem;
				cursor: pointer;
				color: $bg;
			}
			.formBTN:hover {
				background-color: $hover;
				box-shadow: 0 0 3px $hbg;
			}
		}
	}
	#recentTitleContainer {
		margin: 1rem 0 0.4rem 0;
		display: flex;
		flex-wrap: wrap;
		#recentRanksIcon {
			max-width: 1.75rem;
			margin-right: 0.25rem;
		}
		#recentTitle {
			color: $hbg;
			padding-right: 11rem;
			font-weight: 0;
		}
	}
	#signature {
		padding-top: 1rem;
		font-size: 1rem;
	}
}


#ranks {
	display: flex;
	font-size: 1.5rem;
	flex-direction: column;
	border-radius: 0.5rem;
	color: $rankText;
	min-width: 80%;
	box-shadow: 0px 0px 3px black;
	background-color: #1d355783;
	.newRank {
		margin: 1rem;
		border: 1px solid $bg;
		border-radius: 0.5rem;
		padding: 1.75rem 3rem 0.5rem 1.75rem;
		background-color: $bbg;
	}
	#top5list {
		list-style: none;
		padding-left: 0.5rem;
		margin-top: 0.75rem;
	}
	#rankTitle {
		color: $hbg;
	}
	#num1 {
		color: #ffd60a;
	}
	#victor {
		max-width: 1.5rem;
	}
	.download{
		max-width: 1.5rem;
		margin: 1rem 0 0 0.5rem;
		cursor: pointer;
		padding: 0.35rem;
	}
	#delete {
		max-width: 1.6rem;
		margin-top: 1rem;
		cursor: pointer;
		padding: 0.35rem;
	}
	#delete:hover, .download:hover {
		box-shadow: 1px 1px 3px $hbg;
		text-align: center;
		border-radius: 0.5rem;
	}
	#downloadAndDelete {
		display: flex;
		justify-content: space-between;
		margin-bottom: 1rem;
	}
	._id {
		color : $rankText;
		font-size: 0.75rem;
		margin-top: 1rem;
		padding-left: 0.5rem;
	}
}


.dNone {
	display: none;
}






@media screen and (max-width: 501px) {
	#recentTitleContainer {
		display: grid;
		#ranksPlusIcon {
			order: 1;
		}
	}
}

@media screen and (min-width: 750px) {
	header {
		justify-content: space-around;
	}
	#newRankBtn {
		margin-bottom: 5rem;
	}
	#ranks {
		display: grid;
		grid-template-columns: repeat(2, 1fr);
	}
	#ranksPlusIcon {
		margin-right: 10rem
	}
}

@media screen and (min-width: 1250px) {
	#ranks {
		grid-template-columns: repeat(3, 1fr);
	}
	#newRankBtn {
		margin-bottom: 8rem;
	}
	#ranksPlusIcon {
		margin-right: 20rem
	}
}